@model Library.MVC.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = "Create";
    #pragma warning disable
}

<h1 class="text-primary mx-2">Create Book</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group  mb-3 col-12">
                <label asp-for="BookDetails.Title" class="control-label"></label>
                <input asp-for="BookDetails.Title" class="form-control" />
                <span asp-validation-for="BookDetails.Title" class="text-danger"></span>
            </div>
            <div class="row mx-1">
                <div class="form-group  mb-3 col-6">
                    <label asp-for="BookDetails.ISBN" class="control-label"></label>
                    <input asp-for="BookDetails.ISBN" class="form-control" />
                    <span asp-validation-for="BookDetails.ISBN" class="jonas-fula-text"></span>
                </div>
                <div class="form-group  mb-3 col-6">
                    <label asp-for="BookDetails.AuthorID" class="control-label"></label>
                    <select asp-for="BookDetails.AuthorID" asp-items="@Model.Authors" class="form-control">
                        <option clas="form-control" disabled selected>--Select Author--</option>
                    </select>
                    <span asp-validation-for="BookDetails.AuthorID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group  mb-3 col-12">
                <label asp-for="BookDetails.Description" class="control-label"></label>
                <textarea asp-for="BookDetails.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="BookDetails.Description" class="text-danger"></span>
            </div>
            <div class="form-group  mb-3 col-12">
                <label asp-for="Copies" class="control-label"></label>
                <input asp-for="Copies" class="form-control" />
                <span asp-validation-for="Copies" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3  mx-3">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
