@model Library.MVC.ViewModels.BookDetailsViewModel

@{
    ViewData["Title"] = "Delete";

#pragma warning disable
}

<h2 class="text-primary">Delete Copies</h2>
<hr />
<div class="row">
    <div class="col-12 col-md-8" id="js-destroy">
        <div class="form-group mb-3">
            <label asp-for="BookDetails.Title" class="control-label"></label>
            <input asp-for="BookDetails.Title" class="form-control" disabled />
        </div>
        <div>
            <input type="hidden" asp-for="BookDetails.ID " />
            <div class="form-group">
                <label for="formControlSelect">Copies</label>
                <select class="form-control" id="formControlSelect">
                    <option selected>---Select Book Copy---</option>
                    @if (Model.Copies != 0)
                    {
                        @foreach (var item in @Model.BookCopies)
                        {
                            <option id="copy-item" data-copy-id=@item.Value>@item.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="toggle" data-copies=@Model.Copies data-book-id=@Model.BookDetails.ID id="customSwitch">
                <label class="custom-control-label" for="customSwitch">Delete All</label>
            </div>
            <div class="mt-3">
                <a class="btn btn-danger text-white js-delete" data-book-details="@Model.BookDetails.ID">Delete</a>
                <a class="btn btn-outline-danger" asp-controller="Books" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/js/bookCopies.js"></script>
    }
