/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*   Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #FCFCFD;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px; /*Vertically center the text there */
    background-color: #343A40;
}

.jonas-fula-text {
    color: saddlebrown;
    font-size: 40px;
}

/* Sweet alert styles
-------------------------------------------------- */
.swal2-icon.swal2-warning {
    border-color: #d33 !important;
    color: #d33 !important;
}

.swal2-html-container {
    color: #d33 !important;
}

/* Button filter books
-------------------------------------------------- */
a.books-button:hover {
    color: #ffff !important;
}

a.books-button > span:hover {
    color: #ffff !important;
}


/* Card and image styles
-------------------------------------------------- */

.embed-responsive-item {
    height: 150% !important;
}

.card-body {
    position: relative !important;
    background: #ffff !important;
}

.card a {
    text-decoration: none !important;
}