<div class="col-12">
    <p class="container col-8 text-center text text-white">
        &copy;2020 TUC - Linköping - Eric & Khaled
    </p>
    <a class="col-4 text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
