<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <partial name="_StylesheetPartial" />
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_Footer" />
    </footer>
    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
