@model IEnumerable<Library.Domain.Author>
@{
    ViewData["Title"] = "Authors";
}

<div class="p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Authors</h2>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Authors" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br />
    <table id="authors" class="table table-striped table-hover w-100">
        <thead>
            <tr class="bg-light">
                <th>
                    @Html.DisplayName("Full Name")
                </th>
                <th>
                    @Html.DisplayName("№ of books")
                </th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>

@section scripts
{
<script src="~/js/authors.js"></script>
} 