@{
    ViewData["Title"] = "Home Page";
}


<div class="card-columns">

    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p>Arguably Shakespeare's greatest tragedy.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title">Hamlet</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Othello</h5>
            <p class="card-text">An intense drama of love, deception, jealousy and destruction.</p>
            <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
            <img class="card-img-top" src="~/uploads/9790814439998.png" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-body card">
            <h5 class="card-title">Agile Processes in Software Engineering and Extreme Programming</h5>
            <p class="card-text">This  book constitutes the research workshops, doctoral symposium and panel summaries presented at the 20th International Conference on Agile Software Development. This content is a little bit longer.</p>
        </div>
        <img class="card-img-top" src="~/uploads/9783030301255.png" alt="">

    </div>
    <div class="card">
        <img class="card-img-top" src="~/uploads/9789147107483.png" alt="">
        <div class="card-body">
            <h5 class="card-title">Affärsmannaskap</h5>
            <p class="card-text">I Affärsmannaskap har Rolf Laurelli summerat sin långa erfarenhet av konsten att göra affärer. Med boken hoppas han kunna locka fram dina affärsinstinkter..</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Scrum Mastery</h5>
            <p class="card-text">The basics of being a ScrumMaster are fairly straightforward: Facilitate the Scrum process and remove impediments.</p>
            <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
            <img class="card-img-top" src="~/uploads/9780957587403.png" alt="">
        </div>
    </div>
    <div class="card bg-light text-white text-center p-3">
        <blockquote class="blockquote mb-0 bg-light">
            <footer class="blockquote-footer">
                <p>King Lear is a tragedy written by William Shakespeare. It depicts the gradual descent into madness of the title character, after he disposes of his kingdom by giving bequests to two of his three daughters egged on by their continual flattery, bringing tragic consequences for all..</p>
                <small>
                    <cite title="Source Title">King Lear</cite>
                </small>
            </footer>
        </blockquote>
        <img class="card-img-top" src="~/uploads/9780814439998.png" alt="">
    </div>
    <div class="card">
        <div class="card p-3 text-left">
            <blockquote class="blockquote mb-0">
                <p>Tracy teaches readers how to utilize the six key negotiating styles.</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        Negotiation: <cite title="Source Title">Tracy</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
            <img class="card-img" src="~/uploads/9780814433195.png" alt="">
    </div>



    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p>Optimize the effectiveness of your business, to produce fit-for-purpose products and services that delight your customers, making them loyal to your brand and increasing your share, revenues and margins..</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    <cite title="Source Title">Kanban</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card text-center">
        <img class="card-img-top" src="~/uploads/9781439199190.png" alt="">

        <div class="card-body">

            <h5 class="card-title">How to Win Friends and Influence People</h5>
            <p class="card-text">Dale Carnegie had an understanding of human nature that will never be outdated. Financial success, Carnegie believed, is due 15 percent to professional knowledge and 85 percent to the ability to express ideas, to assume leadership, and to arouse enthusiasm among people.</p>
            <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
        </div>
    </div>









</div>

